<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <form method="get">
        <input type="text" name="number_a" placeholder="nombre a" value="{{ numberA }}" />
        <input type="text" name="number_b" placeholder="nombre b" value="{{ numberB }}" />
        <button>multiplier</button>
    </form>
    <div>{{ result }}</div>
</body>
</html>